bidict==0.23.1
blinker==1.9.0
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
dnspython==2.7.0
eventlet==0.33.3
Flask==2.3.3
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
google-ai-generativelanguage==0.4.0
google-api-core==2.25.1
google-auth==2.40.3
google-generativeai==0.3.1
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.74.0
grpcio-status==1.62.3
h11==0.16.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
MarkupSafe==3.0.2
mysql-connector-python==8.1.0
numpy==1.24.3
pandas
pickle-mixin
proto-plus
protobuf
pyasn1
pyasn1_modules
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
requests
rsa
scikit-learn
scipy
simple-websocket
six
SQLAlchemy
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wsproto
xgboost
setuptools
wheel
